.product-page-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin: 30px auto; 
}

.product-gallery {
    flex: 1;
}

.main-image {
    width: 100%;
    max-width: 400px;
    height: 400px; /* Fixed height for the effect */
    overflow: hidden;
    position: relative;
}

.main-image img {
    width: 100%;
    transition: transform 0.3s ease;
    transform-origin: center;
}

/* Thumbnail image styles */
.thumbnail-images {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

/* Product details */
.product-details {
    flex: 1;
}

.product-details h2 {
    margin-top: 0;
    color: #005fac;
}
.product-details button{
    text-decoration: none;
}
.product-details button:hover{
    text-decoration:underline;
}
.price {
    font-size: 24px;
    color: #e60000;
    margin: 10px 0;
}


.product_description{
    width: 80%;
    margin: 0px auto;
}
.nav-tabs .nav-link{
    color: black;
}
.nav-tabs .nav-link:hover{
    background: white;
}
.nav-tabs .nav-link.active{
    border-bottom: 1px solid #005fac;
}
.tab-content>.active{
    width: 90%;
    margin: 20px 0px;
}

/* Responsive adjustments for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .product-page-container {
        width: 90%;
        flex-direction: column; /* Stack elements vertically on mobile */
        margin: 20px auto;
    }
    
    .main-image {
        max-width: 100%; /* Ensure image takes full width on smaller screens */
        height: 300px; /* Adjust height to maintain aspect ratio */
    }

    .thumbnail-images img {
        width: 60px;
        height: 60px; /* Smaller thumbnails on mobile */
    }

    .product-details {
        margin-top: 20px; /* Add space between gallery and product details */
    }
    .tab-content>.active{
        width:100%;
        text-align: justify;
    }
    .product_description{
        width: 90%;
    }
    
}

/* Responsive adjustments for very small screens */
@media (max-width: 480px) {
    .main-image {
        height: 100%; /* Further reduce height for smaller screens */
    }

    .thumbnail-images img {
        width: 50px;
        height: 50px; /* Even smaller thumbnails for compact screens */
    }
}